* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'unbutton';
    src: url(fonts/unbutton.ttf);
}


#motherDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url(img/bg.png);
    background-repeat: repeat;
    height: 100%;

}

#siLogo {
    width: 15%;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2%;
    margin-bottom: auto;
}

img {
    width: 100%;
    height: auto;
}

#jogo {
    background-color: white;
    width: 70%;
    height: auto;
}

#hud {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: auto;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'unbutton', sans-serif;
    font-size: 3vw;
}

#lifes {
    margin-bottom: 2vw;
}