* {
    margin: 0;
    padding: 0;
}


#motherDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
}

#siLogo {
    width: 700px;
}

img{
    width: 100%;
    height: 20%;
}

canvas {
    background-color: white;
    width: 1280px;
    height: 720px;
}